<!-- {% load absstatic %} -->

<link rel="stylesheet" href="{{ STATIC_URL }}chunked_uploads/css/chunked_uploads.css" type="text/css"/>

<script type="text/javascript" charset="utf-8">    
    function file_name(element) {
    	$(element).hide();
    	$("#file_part").append(element.value);
    };
</script>

<span id="file_part" class="fileinput-button">
	<input type="file" id="fileupload" name="files[]" onchange="file_name(this)"/>
</span>
<br/>
<button id="start_upload" class="action_upload" type="button">
	<span>Start</span>
</button>
<button id="resume_upload" class="action_upload" type="button">
	<span>Resume</span>
</button>
<button id="pause_upload" class="action_upload" type="button">
	<span>Pause</span>
</button>
<button id="cancel_upload" class="action_upload" type="button">
	<span>Cancel</span>
</button>
<div class="bar grey stripes">
	<span class="progress" style="width: 0%"></span>
</div>

<div id="upload_url">
</div>