<!-- {% load absstatic %} -->
<html>
<head>
<meta charset="utf-8">
<title>Upload</title>
</head>

<link rel="stylesheet" href="{{ STATIC_URL }}chunked_uploads/css/chunked_uploads.css" type="text/css"/>

<script type="text/javascript" charset="utf-8">
	chunked_uploads_endpoints = {
			base_url: '{{WEB_URL}}',
			upload_url: '{{WEB_URL}}{% url upload %}',
			done_url: '{{WEB_URL}}{% url upload_done uuid='00000000-0000-0000-0000-000000000000' %}',
			file_type: '{{ file_type }}',
    };	
</script>

<body>

	<span class="fileinput-button">
		<input type="file" id="fileupload" name="files[]"/>
		<!-- onchange="getElementById('filefield').value = getElementById('fileupload').value;" -->
	</span>
	<!-- <input type="text" id="filefield" /></div> -->
	</br>
	<button id="start_upload" class="action_upload" type="button">
		<span>Start</span>
	</button>
	<button id="resume_upload" class="action_upload" type="button">
		<span>Resume</span>
	</button>
	<button id="pause_upload" class="action_upload" type="button">
		<span>Pause</span>
	</button>
	<button id="cancel_upload" class="action_upload" type="button">
		<span>Cancel</span>
	</button>
	<div class="bar grey stripes">
		<span class="progress" style="width: 0%"></span>
	</div>

<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/main.js"></script>

</body>
</html>