<!-- {% load absstatic %} -->
<html>
<head>
<meta charset="utf-8">
<title>Upload</title>
</head>

<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}chunked_uploads/css/chunked_uploads.css" type="text/css"/>

<script type="text/javascript" charset="utf-8">
	chunked_uploads_endpoints = {
			jqXHR : null,
			upload_url: '{{WEB_URL}}{% url upload %}',
			done_url: '{{WEB_URL}}{% url upload_done uuid='00000000-0000-0000-0000-000000000000' %}',
			username: 'example',
			api_key: 'secret_example',
    };
    
    function file_name(element) {
    	$(element).hide();
    	$("#file_part").append(element.value);
    };
    
    $(function() {
		//callback of chunked upload start
		chunked_upload_start = function(){
		};
		
		//callback of chunked upload stop
		chunked_upload_stop = function(){
		};
		
		//callback of chunked upload error
		chunked_upload_error = function(){
		};
		
		//callback of chunked upload complete
		chunked_upload_complete = function(){
		};
		
    	//gets video_url and returns it to the "scr" field
    	chunked_uploads_video_url = function(video_url) {
    		$('#upload_url').val(video_url);
	    };
    });
</script>

<body>

	<span id="file_part" class="fileinput-button">
		<input type="file" id="fileupload" name="files[]" onchange="file_name(this)"/>
	</span>
	</br>
	<button id="start_upload" class="action_upload" type="button">
		<span>Start</span>
	</button>
	<button id="resume_upload" class="action_upload" type="button">
		<span>Resume</span>
	</button>
	<button id="pause_upload" class="action_upload" type="button">
		<span>Pause</span>
	</button>
	<button id="cancel_upload" class="action_upload" type="button">
		<span>Cancel</span>
	</button>
	<div class="bar grey stripes">
		<span class="progress" style="width: 0%"></span>
	</div>
	<input type="text" id="upload_url" style="width: 255;" readonly/>
	
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}chunked_uploads/js/jquery.chunked_uploads.js"></script>

</body>
</html>